In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings

In [14]:
df = sns.load_dataset('tips')

In [15]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
df['total_bill'].mean()

19.78594262295082

In [17]:
df['total_bill'].median()

17.795

In [18]:
df['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [19]:
df['sex'].mode()[0]

'Male'

In [20]:
df['total_bill'].var()

79.25293861397826

In [21]:
df['total_bill'].std()

8.902411954856856

In [22]:
df.corr(method = 'pearson')

/tmp/ipykernel_1544/3294333281.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method = 'pearson')

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [23]:
df.corr(method = "spearman")

/tmp/ipykernel_1544/636568451.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method = "spearman")

            total_bill       tip      size
total_bill    1.000000  0.678968  0.604791
tip           0.678968  1.000000  0.468268
size          0.604791  0.468268  1.000000